h3{
    margin: 0;
    padding: 10px 0px;
    height: 15%;
}

.service-container{
    border-radius: 20%;
    width: 250px;
    height: 300px;
    background-color: #222f3e9d;
    color: white;
}

.service-container ul{
    /* height: 100%; */
    height: 85%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap: 30px;
}

.service-content-container{
    height: 90%;
}

