h1{
    margin-left: 40px;
}

nav{
    margin-right: 40px;
}

.nav-container{
    height: 60px;
    width: 100%;
    margin: auto;
    color: #222f3e;
    background-color: #222f3e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.nav-container a{
    color: #c8d6e5;
    text-decoration: none;
}

.nav-links a{
    padding: 10px 15px;
    border-left: #8395a7 1.2px solid;
}

.nav-links a:hover{
    animation: linkHover 0.4s forwards;
}

@keyframes linkHover{
    to{ 
    background-color: #576574;
    border-color: #576574;;
        
    }
}

.dropbtn{
    display: none;
}

@media screen and (max-width: 570px) {
    .nav-links{
        display: none;
        border-style: none;
    }

    .dropbtn{
        display: block;
        background-color: #222f3e;
        border: none;
        color: #c8d6e5;
        font-size: larger;
    }

    .bigNav{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        gap: 70px;
    }

    .bigNav .nav-links{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 50px;
        align-items: center;
        text-align: center;
    }

    .bigNav .nav-links a{
        width: 60%;
        gap: 50px;
        border-bottom: 1px solid #d7e9d77a;
        border-left: none;
    }

    .bigNav .nav-links a:hover{
        animation: linkHover 0.4s forwards;
    }


}